<form [formGroup]="forgotPasswordForm" (submit)="onSubmit()">
  <app-input-field
    label="Email Address"
    type="email"
    formControlName="email"
    [control]="forgotPasswordForm.get('email')"
    [required]="true"
    [errorMessages]="{
      required: 'Email is required',
      email: 'Please enter a valid email address'
    }"
  ></app-input-field>


  <app-radio-field
    label="Type"
    formControlName="type"
    [options]="[
      { label: 'Url', value: 'url' },
      { label: 'Code', value: 'code' }
    ]"
    [control]="forgotPasswordForm.get('type')"
  ></app-radio-field>

  <button class="btn btn-primary mt-2" type="submit" [disabled]="forgotPasswordForm.invalid || loading">
    Send Reset Link
  </button>
</form>
