<form [formGroup]="changePasswordForm" (submit)="onSubmit()">
  <app-input-field
    label="Old Password"
    type="password"
    formControlName="oldPassword"
    [control]="changePasswordForm.get('oldPassword')"
    [required]="true"
    [errorMessages]="{
      required: 'Old password is required',
      minlength: 'At least 6 characters required'
    }"
  ></app-input-field>

  <app-input-field
    label="New Password"
    type="password"
    formControlName="newPassword"
    [control]="changePasswordForm.get('newPassword')"
    [required]="true"
    [errorMessages]="{
      required: 'New password is required',
      minlength: 'At least 6 characters required'
    }"
  ></app-input-field>

  <app-input-field
    label="Confirm New Password"
    type="password"
    formControlName="confirmNewPassword"
    [control]="changePasswordForm.get('confirmNewPassword')"
    [required]="true"
    [errorMessages]="{
      required: 'Confirm your new password',
      passwordMismatch: 'password do not match'
    }"
  ></app-input-field>

  <button class="btn btn-primary mt-2" type="submit" [disabled]="changePasswordForm.invalid || loading">
    Change Password
  </button>

  <button  *ngIf="skipChangePassword" class="btn btn-primary mt-2" type="" (click)="onSkipChangePassword()" >
    Skip Change
  </button>
</form>

